
/Splice.Data/bin
/Splice.Data/obj
/Splice.Manager/bin
/Splice.Manager/obj
/Splice.Server.Console/bin
/Splice.Server.Console/obj
/Splice.Server.Core/bin
/Splice.Server.Core/obj
/Splice.Server.Service/bin
/Splice.Server.Service/obj
/Splice.Watcher/bin
/Splice.Watcher/obj
/ZeroconfService/bin
/ZeroconfService/obj
*.suo

/Splice.Configuration/bin
/Splice.Configuration/obj
/Splice.Reporting/bin
/Splice.Reporting/obj
/TvdbLib/bin
/TvdbLib/obj
/Splice.MediaInfo/bin
/Splice.MediaInfo/obj
*.dll