
/SpliceServerConsole/bin
/SpliceServerConsole/obj
/SpliceManager/bin
/SpliceManager/obj
/SpliceServerLib/bin
/SpliceServerLib/obj
/SpliceServerService/bin
/SpliceServerService/obj
/ZeroconfService/bin
/ZeroconfService/obj
*.suo